.header{
  text-align: center;
  margin: 5rem 0 10rem 0;

  @media only screen and (max-width: 43.75em) {
    margin: 3rem 0 8rem 0;
  }

  @media only screen and (max-width: 37.5em){
    margin: 2.5rem 0 6rem 0;
  }


  &__hero{
    width: 45%;
    margin-bottom: 4rem;
  }

  &__text{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 5rem;

    @media only screen and (max-width: 43.75em) {
      margin-bottom: 3rem;
    }
  }
}